.draw {
    padding: 50px 0 50px 0;
    &__title {
        position: relative;
        margin: 30px 0 55px 0;
    }
    &__title::before {
        @include decor(398px, 398px, -123px, -175px, $decor-color-8, $decor-blur-xl);
        @media screen and(max-width: $brkpoint-4) {
            @include decor(197px, 197px, -123px, -80px, $decor-color-8, $decor-blur-m);
        }
    }
    &__container {
        position: relative;
        display: flex;
        align-items: center;
        &::before {
            @include decor(522px, 522px, 0, 80%, $decor-color-9, $decor-blur-xl);
            display: none;
            @media screen and(max-width: $brkpoint-1) {
                @include decor(385px, 385px, 0, 80%, $decor-color-9, $decor-blur-xl);
            }
            @media screen and(max-width: $brkpoint-1) {
                @include decor(385px, 385px, 0, 80%, $decor-color-9, $decor-blur-xl);
            }
            @media screen and(max-width: $draw-brkpoint-3) {
                @include decor(385px, 385px, 90%, 70%, $decor-color-9, $decor-blur-xl);
            }
            @media screen and(max-width: $brkpoint-3) {
                @include decor(236px, 236px, 54%, 70%, $decor-color-9, $decor-blur-l);
            }
        }
        @media screen and(max-width: $draw-brkpoint-3) {
            flex-flow: column;
            align-items: normal;
        }
    }
    &__slider {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-right: 130px;
        padding: 50px 0 50px 104px;
        @media screen and(max-width: $draw-brkpoint-1) {
            margin-right: 40px;
            padding-left: 60px;
        }
        @media screen and(max-width: $draw-brkpoint-3) {
            margin: 0 0 50px 0;
        }
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 2px;
            transform: translateY(-50%);
            width: 2px;
            height: 100%;
            background: $input-border-color;
            border-radius: 100px;
        }
    }
    &__slide {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
        &_active &-number {
            animation: fade .2s;
            color: $accent;
        }
        &_active &-number::before {
            animation: fade .2s;
            background-color: $accent;
        }
        &_active &-comment {
            animation: fade 2s;
            display: block;
        }
        &-number {
            position: relative;
            display: flex;
            align-items: center;
            width: 47px;
            height: 40px;
            @include font(700, 40px, 100%, $slide-not-active-color);
            cursor: pointer;
        }
        &-number:hover {
            // $logo to rgba
            color: rgba(0,171,197,0.5);
            transition: color .2s;
        }
        &-number::before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: -104px;
            transform: translateY(-50%);
            width: 6px;
            height: 40px;
            background-color: transparent;
            border-radius: 100px;
            @media screen and(max-width: $draw-brkpoint-1) {
                left: -60px;
            }
        }
        &-comment {
            display: none;
            width: 420px;
            margin-top: 15px;
            @include font(400, 17px, 150%, $gray, $family: 'Roboto Regular');
            @media screen and(max-width: $brkpoint-1) {
                width: 80%;
            }
            @media screen and(max-width: $brkpoint-2) {
                width: 100%;
            }
        }
    }
    &__form {
        & :nth-child(n) {
            @media screen and(max-width: $draw-brkpoint-2) {
                height: 65px;
            }
        }
        @media screen and(max-width: $brkpoint-1) {
            width: 360px;
        }
        @media screen and(max-width: $draw-brkpoint-2) {
            width: 300px;
        }
        @media screen and(max-width: $draw-brkpoint-3) {
            width: 100%;
        }
    }
}
