.prize {
    padding-bottom: 50px;
    &__conteiner {
        display: flex;
        margin-top: 130px;
        @media screen and (max-width: $brkpoint-1) {
            flex-direction: column;
        }
        @media screen and (max-width: $brkpoint-2) {
            margin-top: 70px;
        }
    }
    &__block1 {
        width: 50%;
        @media screen and (max-width: $brkpoint-1) {
            width: 100%;
        }
    }
    &__title {
        position: relative;
        margin-top: 30px;
        @include font(700, 50px, 125%, $white, uppercase);
        @media screen and (max-width: $brkpoint-1) {
            width: 100% !important;
        }
        @media screen and (max-width: $brkpoint-2) {
            font-size: 35px;
        }
        @media screen and (max-width: $brkpoint-4) {
            font-size: 30px;
        }
    }
    &__title::before {
        @include decor(248px, 248px, -111px, -68px, $decor-color-7, $decor-blur-l);
    }
    &__describe {
        margin-top: 34px;
        @include font(400, 23px, 150%, $gray, $family: 'Roboto Regular');
        @media screen and (max-width: $brkpoint-1) {
            width: 100% !important;
        }
        @media screen and (max-width: $brkpoint-2) {
            font-size: 18px;
        }
    }
    &__button {
        margin-top: 35px;
        width: 300px;
        height: 79px;
        @media screen and (max-width: $brkpoint-1) {
            width: 255px;
            height: 73px;
        }
    }
    &__block2 {
        width: 50%;
        @media screen and (max-width: $brkpoint-1) {
            width: 100%;
            margin-top: 50px;
        }
    }
    &__slider {
        position: relative;
        cursor: pointer;
        & .prize__slide .prize__slide-img-wrap::before,
        & .prize__slide .prize__slide-img-wrap::after {
            display: block;
            content: '';
            position: absolute;
            width: 581px;
            height: 581px;
            border-radius: 50%;
            // filter: blur($decor-blur-xl);
            z-index: -1;
            @media screen and(max-width: $brkpoint-1) {
                width: 470px;
                height: 470px;
                // filter: blur($decor-blur-l);
            }
            @media screen and(max-width: $brkpoint-2) {
                width: 360px;
                height: 360px;
                // filter: blur($decor-blur-m);
            }
            @media screen and(max-width: $brkpoint-3) {
                width: 264.95px;
                height: 264.95px;
                // filter: blur($decor-blur-s);
            }
            @media screen and(max-width: $brkpoint-4) {
                width: 200px;
                height: 200px;
                // filter: blur($decor-blur-xs);
            }
        }
        & .prize__slide .prize__slide-img-wrap::before {
            top: -11%;
            left: 31%;
            @media screen and(max-width: $brkpoint-1) {
                top: -11%;
                left: 39%;
            }
            @media screen and(max-width: $brkpoint-3) {
                top: 2%;
                left: 42%;
            }
            @media screen and(max-width: $brkpoint-3) {
                top: 18%;
                left: 33%;
            }
        }
        & .prize__slide .prize__slide-img-wrap::after {
            top: 55%;
            left: -22%;
            @media screen and(max-width: $brkpoint-1) {
                top: 15%;
                left: 12%;
            }
            @media screen and(max-width: $brkpoint-2) {
                top: 25%;
                left: 2%;
            }
            @media screen and(max-width: $brkpoint-3) {
                top: 40%;
                left: 0%;
            }
        }
        & .prize__slide_1 .prize__slide-img-wrap::before {
            background-color: $decor-color-1;
        }
        & .prize__slide_1 .prize__slide-img-wrap::after {
            background-color: $decor-color-2;
        }
        & .prize__slide_2 .prize__slide-img-wrap::before {
            background-color: $decor-color-3;
        }
        & .prize__slide_2 .prize__slide-img-wrap::after {
            background-color: $decor-color-4;
        }
        & .prize__slide_3 .prize__slide-img-wrap::before {
            background-color: $decor-color-5;
        }
        & .prize__slide_3 .prize__slide-img-wrap::after {
            background-color: $decor-color-6;
        }
    }
    &__slide {
        &-img {
            height: 460px;
            overflow: hidden;
            @media screen and (max-width: $brkpoint-3) {
                height: 416px;
            }
            &-wrap {
                position: relative;
            }
            &-item {
                @extend %inner-img;
                height: 557px;
                @media screen and (max-width: $brkpoint-3) {
                    height: 455px;
                }
            }    
        }
        &-descrip {
            float: right;
            @media screen and (max-width: $prize-brkpoint-1) {
                width: 650px;
            }
            @media screen and (max-width: $prize-brkpoint-2) {
                width: 600px;
            }
            @media screen and (max-width: $brkpoint-1) {
                width: 100% !important;
            }
            @media screen and (max-width: $brkpoint-2) {
                padding: 30px 45px;
            }
            @media screen and (max-width: $brkpoint-3) {
                padding: 25px 35px;
                font-size: 15px;
            }
            @media screen and (max-width: $brkpoint-4) {
                padding: 20px;
            }
        }
    }
    // cleaning the flow after float 
    &__slide::after {
        content: '';
        display: block;
        clear: both;
    }
    &__dots {
        position: absolute;
        right: 0;
        top: 350px; 
        display: flex;
        flex-flow: column;
        align-items: flex-end;
        z-index: 5;
    }
    &__dot {
        width: 30px;
        height: 3px;
        background-color: white;
        transition: .2s width;
    }
    &__dot:not(:last-child) {
        margin-bottom: 10px;
    }
    &__dot_active {
        width: 23px;
        background-color: $accent;
    }
    &__fade {
        animation-name: fade;
        animation-duration: 2s;
    }
}