.thanks-modal {
    display: none;
    &__title {
        margin-bottom: 25px;
    }
    &__message {
        @include font(normal, 17px, 150%, $white, $family: 'Roboto Regular');
        & > p:first-child {
            margin-top: 20px;
        }
    }
}