$wrapper-width: 1300px;

$decor-blur-xl: 400px;
$decor-blur-l: 350px;
$decor-blur-m: 200px;
$decor-blur-s: 180px;
$decor-blur-xs: 135px;

// colors
$main-background-color:#001424;
$accent: #FAAF18;
$gray: #E4E4E4;
$gray-to-rgba: rgba(228,228,228,0.5);
$white: #FFFFFF;
$logo: #00ABC5;
$input-border-color: #044654;
$input-placeholder-color : #696969;
$footer-bg-color: #0D202F;

// slider
$decor-color-1: rgba(165, 22, 22, 0.7);
$decor-color-2: rgba(22, 45, 165, 0.39);
$decor-color-3: rgba(22, 45, 165, 0.39);
$decor-color-4: rgba(22, 165, 122, 0.33);
$decor-color-5: rgba(165, 22, 150, 0.7);
$decor-color-6: rgba(22, 165, 96, 0.39);
$decor-color-7: rgba(250, 175, 24, 0.56);
$decor-color-8: rgba(113, 37, 188, 0.5);
$decor-color-9: rgba(0, 197, 114, 0.4);


$slide-not-active-color: #002138;
// // slider

// //colors

// breakpoints - variables are used throughout the project, it is not recommended to change them
$brkpoint-1: 1024px;
$brkpoint-2: 768px;
$brkpoint-3: 480px;
$brkpoint-4: 320px;

// prize
$prize-brkpoint-1: 1200px;
$prize-brkpoint-2: 1100px;

// draw 
$draw-brkpoint-1: 1114px;
$draw-brkpoint-2: 870px;

$draw-brkpoint-3: 700px;

// present
$present-brkpoint-1: 870px;
$present-brkpoint-2: 700px;
// $present-brkpoint-2: 700px;


// $brkpoint-3: 1024px;
// $brkpoint-2: 768px;
// $brkpoint-3: 480px;
// $brkpoint-4: 320px;
    
