@mixin font($weight, $size, $line_height, $color, $text-transform: none, $style: normal, $family: 'Roboto Bold') {
    font: {
        weight: $weight;
        style: $style;
        size: $size;
        family: $family; 
    }
    text-transform: $text-transform;
    line-height: $line_height;
    color: $color;
}

// @mixin btn() {

// }

@mixin decor($width, $height, $top: initial, $left: initial, $bgcolor: initial, $filter: initial,
             $content: '', $display: block,
             $pos: absolute, $radius: 50%, $z-index: initial, $bgimage: initial, $bgrepeat: no-repeat,
             $bgposition: center, $bgsize: initial, $cursor: initial, $right: initial) {
    content: $content;
    display: $display;
    width: $width;
    height: $height;
    position: $pos;
    top: $top;
    left: $left;
    right: $right;
    border: {
        radius: $radius;
    }
    background: {
        color: $bgcolor;
        image: $bgimage;
        repeat: $bgrepeat;
        position: $bgposition;
        size: $bgsize; 
    };
    filter: $filter;
    // blur($blur);
    z-index: $z-index;
    cursor: $cursor;
    overflow: hidden;
}  