.wrapper {
    max-width: $wrapper-width;
    margin: 0 auto;
    padding: 0 15px;
}
.line {
    width: 80px;
    border: 5px solid $accent;
    @media screen and (max-width: $brkpoint-2) {
        width: 50px;
        border: 3px solid $accent;
    }
}
.btn {
    @extend %center-xy-flex;
    @include font(700, 23px, 125%, $main-background-color, $text-transform: uppercase, $family: 'Roboto Bold');
    background: $accent;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}
.description {
    width: 750px;
    padding: 40px 80px;
    @include font(400, 17px, 150%, $white, $family: 'Roboto Regular');
    background: #002138;
    border-radius: 25px;
}
.social {
    display: flex;
    & :not(:last-child) {
        margin-right: 37px;
        @media screen and (max-width: $brkpoint-3) {
            margin-right: 20px;
        }
    }
    &__img {
        width: 36px;
        height: 36px;
        @media screen and (max-width: $brkpoint-2) {
            width: 30px;
            height: 30px;
        }
        @media screen and (max-width: $brkpoint-3) {
            width: 25px;
            height: 25px;
        }
        @media screen and (max-width: $brkpoint-4) {
            width: 21px;
            height: 21px;
        }
        &-item {
            @extend %inner-img;
        }
    }
}
.accent__color {
    color: $accent;
}
.title {
    margin: 30px 0 50px 0;
    @include font(700, 45px, 120%, $white)
}
.form {
    display: flex;
    flex-flow: column;
    width: 420px;
    & :nth-child(1n):not(:last-child) {
        margin-bottom: 30px;
    }
    &__input {
        text-indent: 60px;
        outline: none;
        height: 85px;
        background-color: transparent;
        border-radius: 25px;
        border: 1px solid $input-border-color;
        transition-property: border-color, box-shadow;
        transition: .2s;
        @include font(400, 19px, 125%, $input-placeholder-color, $family: 'Roboto Regular');
    }
    &__input::placeholder,
    &__input::-webkit-input-placeholder,
    &__input::-moz-placeholder {
        @include font(400, 19px, 125%, $input-placeholder-color, $family: 'Roboto Regular');
    }
    &__input:focus {
        border: 1px solid $accent;
    }
    &__input:hover {
        border: 1px solid transparent;
        box-shadow: 0 0 10px 2px $logo;
    }
    &__btn {
        height: 85px;
    }
}
.logo {
    display: flex;
} 
.logo1 {
    display: flex;
    align-items: center;
    &__part1 {
        width: 40.88px;
        height: 41.05px;
        margin-right: 8.27px;
        @media screen and (max-width: $brkpoint-2) {
            width: 25px;
            height: 25px;
        }
        @media screen and (max-width: $brkpoint-3) {
            width: 20px;
            height: 20px;
        }
        @media screen and (max-width: $brkpoint-4) {
            width: 17px;
            height: 16px;
        }
    }
    &__part2 {
        width: 135.65px;
        height: 31.14px;
        @media screen and (max-width: $brkpoint-2) {
            width: 84.24px;
            height: 18.95px;
        }
        @media screen and (max-width: $brkpoint-3) {
            width: 64px;
            height: 14px;
        }
        @media screen and (max-width: $brkpoint-4) {
            width: 56px;
            height: 12px;
        }
    }
    &__part1 > img,
    &__part2 > img {
        @extend %inner-img;
    }
}
.logo2 {
    width: 133.76px;
    height: 51.73px;
    @media screen and (max-width: $brkpoint-2) {
        width: 88px;
        height: 34px;
    }
    @media screen and (max-width: $brkpoint-3) {
        width: 72px;
        height: 28px;
    }
    @media screen and (max-width: $brkpoint-4) {
        width: 50px;
        height: 19px;
    }
    & > img {
        @extend %inner-img;
    }
}
.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    @extend %center-xy-flex;
    &__container {
        position: relative;
        border-radius: 25px;
        background-color: $slide-not-active-color;
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: -30px;
            right: -30px;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background: $white url('../img/modal/close.svg') no-repeat center;
            cursor: pointer;
            overflow: hidden; 
        }
    }
    &__title {
        @include font(bold, 35px, 120%, $accent);
    }
    &_txt {
        padding: 70px 110px;
        width: 710px;
    }
    &-info {
        &__title {
            margin-bottom: 25px;
        }
        &__message {
            @include font(normal, 17px, 150%, $white, $family: 'Roboto Regular');
            & > p {
                margin-top: 20px;
            }
        }
    }
} 
@keyframes fade {
    0%   {opacity: 0.5;}
    100% {opacity: 1; }
}
