.header {
    position: relative;
    padding: 30px 0;
    @media screen and (max-width: $brkpoint-4) {
        padding: 15px 0;
    }
    & .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo1 {
        margin-right: 142.21px;
        @media screen and (max-width: $brkpoint-1) {
            margin-right: 21px;
        }
    }
    &__border {
        position: absolute;
        bottom: 0;
        height: 1px;
        width: calc(#{$wrapper-width} - 30px);
        background-color: #002138;
    }
    &__social-img {
        @media screen and (max-width: $brkpoint-2) {
            width: 25px;
            height: 25px;
        }
        @media screen and (max-width: $brkpoint-4) {
            width: 20px;
            height: 20px;
        }
    }
    &__social-img:not(:last-child) {
        @media screen and (max-width: $brkpoint-2) {
            margin-right: 28px;
        }
        @media screen and (max-width: $brkpoint-3) {
            margin-right: 4px;
        }
        @media screen and (max-width: $brkpoint-4) {
            margin-right: 17px;
        }
    }
}

.logo {
    display: flex;
} 
.logo1 {
    display: flex;
    align-items: center;
    &__part1 {
        width: 40.88px;
        height: 41.05px;
        margin-right: 8.27px;
        @media screen and (max-width: $brkpoint-2) {
            width: 25px;
            height: 25px;
        }
        @media screen and (max-width: $brkpoint-4) {
            width: 17px;
            height: 16px;
        }
    }
    &__part2 {
        width: 135.65px;
        height: 31.14px;
        @media screen and (max-width: $brkpoint-2) {
            width: 84.24px;
            height: 18.95px;
        }
        @media screen and (max-width: $brkpoint-4) {
            width: 56px;
            height: 12px;
        }
    }
    &__part1 > img,
    &__part2 > img {
        @extend %inner-img;
    }
}
.logo2 {
    width: 133.76px;
    height: 51.73px;
    @media screen and (max-width: $brkpoint-2) {
        width: 88px;
        height: 34px;
    }
    @media screen and (max-width: $brkpoint-4) {
        width: 50px;
        height: 19px;
    }
    & > img {
        @extend %inner-img;
    }
}