.prize {
    &__conteiner {
        display: flex;
        margin-top: 130px;
        @media screen and (max-width: $prize-brkpoint-3) {
            flex-direction: column;
        }
    }
    &__block1 {
        width: 50%;
        @media screen and (max-width: $prize-brkpoint-3) {
            width: 100%;
        }
    }
    &__title {
        margin-top: 30px;
        @include font(700, 50px, 125%, $white, uppercase);
        @media screen and (max-width: $prize-brkpoint-3) {
            width: 100% !important;
        }
        &-color {
            color: $accent;
        }
    }
    &__describe {
        margin-top: 34px;
        @include font(400, 23px, 150%, $gray, $family: 'Roboto Regular');
        @media screen and (max-width: $prize-brkpoint-3) {
            width: 100% !important;
        }
    }
    &__button {
        margin-top: 35px;
        width: 300px;
        height: 79px;
    }
    &__block2 {
        width: 50%;
        @media screen and (max-width: $prize-brkpoint-3) {
            width: 100%;
            margin-top: 50px;
        }
    }
    &__slider {
        position: relative;
        cursor: pointer;
    }
    &__slide {
        &-img {
            height: 460px;
            overflow: hidden;
            &-item {
                @extend %inner-img;
                height: 557px;
            }    
        }
        &-descrip {
            float: right;
            @media screen and (max-width: $prize-brkpoint-1) {
                width: 650px;
            }
            @media screen and (max-width: $prize-brkpoint-2) {
                width: 600px;
            }
            @media screen and (max-width: $prize-brkpoint-3) {
                width: 100%;
            }
        }
    }
    // cleaning the flow after float 
    &__slide::after {
        content: '';
        display: block;
        clear: both;
    }
    &__dots {
        position: absolute;
        right: 0;
        top: 350px; 
        display: flex;
        flex-flow: column;
        align-items: flex-end;
        z-index: 5;
    }
    &__dot {
        width: 30px;
        height: 2px;
        background-color: white;
        transition: .2s width;
    }
    &__dot:not(:last-child) {
        margin-bottom: 10px;
    }
    &__dot_active {
        width: 23px;
        background-color: $accent;
    }
    &__fade {
        animation-name: fade;
        animation-duration: 2s;
    }
}