.social {
    display: flex;
    & :not(:last-child) {
        margin-right: 37px;
    }
    &__img {
        width: 36px;
        height: 36px;
        &-item {
            @extend %inner-img;
        }
    }
}