$wrapper-width: 1300px;

// colors
$main-background-color:#001424;
$accent: #FAAF18;
$gray: #E4E4E4;
$white: #FFFFFF;
$logo: #00ABC5;

// breakpoints
    // prize
    $prize-brkpoint-1: 1200px;
    $prize-brkpoint-2: 1100px;
    $prize-brkpoint-3: 1024px;
    
