.wrapper {
    max-width: $wrapper-width;
    margin: 0 auto;
    padding: 0 15px;
}
.line {
    width: 80px;
    border: 5px solid $accent;
}
.btn {
    @extend %center-xy-flex;
    @include font(700, 23px, 125%, $main-background-color, $text-transform: uppercase, $family: 'Roboto Bold');
    background: #FAAF18;
    border-radius: 25px;
    cursor: pointer;
}
.description {
    width: 750px;
    padding: 40px 80px;
    @include font(400, 17px, 150%, $white, $family: 'Roboto Regular');
    background: #002138;
    border-radius: 25px;
}
.social {
    display: flex;
    & :not(:last-child) {
        margin-right: 37px;
    }
    &__img {
        width: 36px;
        height: 36px;
        &-item {
            @extend %inner-img;
        }
    }
}
@keyframes fade {
    0%   {opacity: 0.5;}
    100% {opacity: 1; }
}
