@import 'data/var';
@import 'data/fonts';
@import 'utils/mixins';
@import 'utils/extends';
@import 'commons/common';
@import 'sections/header';
@import 'sections/prize';
@import 'sections/draw';
@import 'sections/present';
@import 'sections/footer';

body {
    font-family: "Roboto Bold";
    background-color: $main-background-color;    
}
// to fix the placeholder opacity in Firefox
::-moz-placeholder { 
    opacity: 1;
}






