@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/roboto-regular/roboto-regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/roboto-regular/roboto-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular/roboto-regular.otf") format("opentype"), url("../fonts/roboto-regular/roboto-regular.svg") format("svg"), url("../fonts/roboto-regular/roboto-regular.ttf") format("truetype"), url("../fonts/roboto-regular/roboto-regular.woff") format("woff"), url("../fonts/roboto-regular/roboto-regular.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/roboto-bold/roboto-bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/roboto-bold/roboto-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-bold/roboto-bold.otf") format("opentype"), url("../fonts/roboto-bold/roboto-bold.svg") format("svg"), url("../fonts/roboto-bold/roboto-bold.ttf") format("truetype"), url("../fonts/roboto-bold/roboto-bold.woff") format("woff"), url("../fonts/roboto-bold/roboto-bold.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy Regular";
  src: url("../fonts/gilroy-regular/gilroy-regular.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-regular/gilroy-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-regular/gilroy-regular.woff2") format("woff2"), url("../fonts/gilroy-regular/gilroy-regular.woff") format("woff"), url("../fonts/gilroy-regular/gilroy-regular.ttf") format("truetype"), url("../fonts/gilroy-regular/gilroy-regular.svg#gilroy-regular") format("svg");
  /* Chrome < 4, Legacy iOS */
}
.present__present-img, .prize__slide-img-item, .logo2 > img, .logo1__part1 > img, .logo1__part2 > img, .social__img-item {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.modal, .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.line {
  width: 80px;
  border: 5px solid #FAAF18;
}
@media screen and (max-width: 1024px) {
  .line {
    width: 70px;
    border: 4px solid #FAAF18;
  }
}
@media screen and (max-width: 768px) {
  .line {
    width: 50px;
    border: 3px solid #FAAF18;
  }
}

.btn {
  font-weight: 700;
  font-style: normal;
  font-size: 23px;
  font-family: "Roboto Bold";
  text-transform: uppercase;
  line-height: 125%;
  color: #001424;
  background: #FAAF18;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .btn {
    font-size: 15px;
    letter-spacing: 1px;
  }
}

.description {
  width: 750px;
  padding: 40px 80px;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  font-family: "Roboto Regular";
  text-transform: none;
  line-height: 150%;
  color: #FFFFFF;
  background: #002138;
  border-radius: 25px;
}

.social {
  display: flex;
}
.social :not(:last-child) {
  margin-right: 37px;
}
@media screen and (max-width: 480px) {
  .social :not(:last-child) {
    margin-right: 20px;
  }
}
.social__img {
  width: 36px;
  height: 36px;
}
@media screen and (max-width: 768px) {
  .social__img {
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 480px) {
  .social__img {
    width: 25px;
    height: 25px;
  }
}
@media screen and (max-width: 320px) {
  .social__img {
    width: 21px;
    height: 21px;
  }
}
.accent__color {
  color: #FAAF18;
}

.title {
  margin: 30px 0 50px 0;
  font-weight: 700;
  font-style: normal;
  font-size: 45px;
  font-family: "Roboto Bold";
  text-transform: none;
  line-height: 120%;
  color: #FFFFFF;
}
@media screen and (max-width: 1024px) {
  .title {
    font-size: 40px;
  }
}
@media screen and (max-width: 480px) {
  .title {
    font-size: 33px;
  }
}

.form {
  display: flex;
  flex-flow: column;
  width: 420px;
}
.form :nth-child(1n):not(:last-child) {
  margin-bottom: 30px;
}
.form__input {
  text-indent: 60px;
  outline: none;
  height: 85px;
  background-color: transparent;
  border-radius: 25px;
  border: 1px solid #044654;
  transition-property: border-color, box-shadow;
  transition: 0.2s;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
  font-family: "Roboto Regular";
  text-transform: none;
  line-height: 125%;
  color: #696969;
}
.form__input::placeholder, .form__input::-webkit-input-placeholder, .form__input::-moz-placeholder {
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
  font-family: "Roboto Regular";
  text-transform: none;
  line-height: 125%;
  color: #696969;
}
.form__input:focus {
  border: 1px solid #FAAF18;
}
.form__input:hover {
  border: 1px solid transparent;
  box-shadow: 0 0 10px 2px #00ABC5;
}
.form__btn {
  height: 85px;
}

.logo {
  display: flex;
}

.logo1 {
  display: flex;
  align-items: center;
}
.logo1__part1 {
  width: 40.88px;
  height: 41.05px;
  margin-right: 8.27px;
}
@media screen and (max-width: 768px) {
  .logo1__part1 {
    width: 25px;
    height: 25px;
  }
}
@media screen and (max-width: 480px) {
  .logo1__part1 {
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 320px) {
  .logo1__part1 {
    width: 17px;
    height: 16px;
  }
}
.logo1__part2 {
  width: 135.65px;
  height: 31.14px;
}
@media screen and (max-width: 768px) {
  .logo1__part2 {
    width: 84.24px;
    height: 18.95px;
  }
}
@media screen and (max-width: 480px) {
  .logo1__part2 {
    width: 64px;
    height: 14px;
  }
}
@media screen and (max-width: 320px) {
  .logo1__part2 {
    width: 56px;
    height: 12px;
  }
}
.logo2 {
  width: 133.76px;
  height: 51.73px;
}
@media screen and (max-width: 768px) {
  .logo2 {
    width: 88px;
    height: 34px;
  }
}
@media screen and (max-width: 480px) {
  .logo2 {
    width: 72px;
    height: 28px;
  }
}
@media screen and (max-width: 320px) {
  .logo2 {
    width: 50px;
    height: 19px;
  }
}
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.modal__container {
  position: relative;
  border-radius: 25px;
  background-color: #002138;
}
.modal__container::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  top: -30px;
  left: initial;
  right: -30px;
  border-radius: 50%;
  background-color: #FFFFFF;
  background-image: url("../img/modal/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  filter: initial;
  z-index: initial;
  cursor: pointer;
  overflow: hidden;
}
.modal__title {
  font-weight: bold;
  font-style: normal;
  font-size: 35px;
  font-family: "Roboto Bold";
  text-transform: none;
  line-height: 120%;
  color: #FAAF18;
}
.modal_txt {
  padding: 70px 110px;
  width: 710px;
}

.mark {
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  font-family: "Roboto Regular";
  text-transform: none;
  line-height: 125%;
  color: rgba(228, 228, 228, 0.5);
}

@keyframes fade {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.header {
  position: relative;
  padding: 30px 0;
}
@media screen and (max-width: 320px) {
  .header {
    padding: 15px 0;
  }
}
.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo1 {
  margin-right: 142.21px;
}
@media screen and (max-width: 1024px) {
  .header__logo1 {
    margin-right: 21px;
  }
}
.header__border {
  position: absolute;
  bottom: 0;
  height: 1px;
  width: calc(1300px - 30px);
  background-color: #002138;
}

.prize {
  padding-bottom: 50px;
}
.prize__conteiner {
  display: flex;
  margin-top: 130px;
}
@media screen and (max-width: 1024px) {
  .prize__conteiner {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .prize__conteiner {
    margin-top: 70px;
  }
}
.prize__block1 {
  width: 50%;
}
@media screen and (max-width: 1024px) {
  .prize__block1 {
    width: 100%;
  }
}
.prize__title {
  position: relative;
  margin-top: 30px;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  font-family: "Roboto Bold";
  text-transform: uppercase;
  line-height: 125%;
  color: #FFFFFF;
}
@media screen and (max-width: 1024px) {
  .prize__title {
    width: 100% !important;
  }
}
@media screen and (max-width: 768px) {
  .prize__title {
    font-size: 35px;
  }
}
@media screen and (max-width: 320px) {
  .prize__title {
    font-size: 30px;
  }
}
.prize__title::before {
  content: "";
  display: block;
  width: 248px;
  height: 248px;
  position: absolute;
  top: -111px;
  left: -68px;
  right: initial;
  border-radius: 50%;
  background-color: rgba(250, 175, 24, 0.56);
  background-image: initial;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(350px);
  z-index: -1;
  cursor: initial;
  overflow: hidden;
}
.prize__describe {
  margin-top: 34px;
  font-weight: 400;
  font-style: normal;
  font-size: 23px;
  font-family: "Roboto Regular";
  text-transform: none;
  line-height: 150%;
  color: #E4E4E4;
}
@media screen and (max-width: 1024px) {
  .prize__describe {
    width: 100% !important;
  }
}
@media screen and (max-width: 768px) {
  .prize__describe {
    font-size: 18px;
  }
}
.prize__button {
  margin-top: 35px;
  width: 300px;
  height: 79px;
}
@media screen and (max-width: 1024px) {
  .prize__button {
    width: 255px;
    height: 73px;
  }
}
.prize__block2 {
  width: 50%;
}
@media screen and (max-width: 1024px) {
  .prize__block2 {
    width: 100%;
    margin-top: 50px;
  }
}
.prize__slider {
  position: relative;
  cursor: pointer;
}
.prize__slider .prize__slide .prize__slide-img-wrap::before, .prize__slider .prize__slide .prize__slide-img-wrap::after {
  display: none;
  content: "";
  position: absolute;
  width: 581px;
  height: 581px;
  border-radius: 50%;
  z-index: -1;
}
@media screen and (max-width: 1024px) {
  .prize__slider .prize__slide .prize__slide-img-wrap::before, .prize__slider .prize__slide .prize__slide-img-wrap::after {
    width: 470px;
    height: 470px;
  }
}
@media screen and (max-width: 768px) {
  .prize__slider .prize__slide .prize__slide-img-wrap::before, .prize__slider .prize__slide .prize__slide-img-wrap::after {
    width: 360px;
    height: 360px;
  }
}
@media screen and (max-width: 480px) {
  .prize__slider .prize__slide .prize__slide-img-wrap::before, .prize__slider .prize__slide .prize__slide-img-wrap::after {
    width: 264.95px;
    height: 264.95px;
  }
}
@media screen and (max-width: 320px) {
  .prize__slider .prize__slide .prize__slide-img-wrap::before, .prize__slider .prize__slide .prize__slide-img-wrap::after {
    width: 200px;
    height: 200px;
  }
}
.prize__slider .prize__slide .prize__slide-img-wrap::before {
  top: -11%;
  left: 31%;
}
@media screen and (max-width: 1024px) {
  .prize__slider .prize__slide .prize__slide-img-wrap::before {
    top: -11%;
    left: 39%;
  }
}
@media screen and (max-width: 480px) {
  .prize__slider .prize__slide .prize__slide-img-wrap::before {
    top: 2%;
    left: 42%;
  }
}
@media screen and (max-width: 480px) {
  .prize__slider .prize__slide .prize__slide-img-wrap::before {
    top: 18%;
    left: 33%;
  }
}
.prize__slider .prize__slide .prize__slide-img-wrap::after {
  top: 55%;
  left: -22%;
}
@media screen and (max-width: 1024px) {
  .prize__slider .prize__slide .prize__slide-img-wrap::after {
    top: 15%;
    left: 12%;
  }
}
@media screen and (max-width: 768px) {
  .prize__slider .prize__slide .prize__slide-img-wrap::after {
    top: 25%;
    left: 2%;
  }
}
@media screen and (max-width: 480px) {
  .prize__slider .prize__slide .prize__slide-img-wrap::after {
    top: 40%;
    left: 0%;
  }
}
.prize__slider .prize__slide_1 .prize__slide-img-wrap::before {
  background-color: rgba(165, 22, 22, 0.7);
}
.prize__slider .prize__slide_1 .prize__slide-img-wrap::after {
  background-color: rgba(22, 45, 165, 0.39);
}
.prize__slider .prize__slide_2 .prize__slide-img-wrap::before {
  background-color: rgba(22, 45, 165, 0.39);
}
.prize__slider .prize__slide_2 .prize__slide-img-wrap::after {
  background-color: rgba(22, 165, 122, 0.33);
}
.prize__slider .prize__slide_3 .prize__slide-img-wrap::before {
  background-color: rgba(165, 22, 150, 0.7);
}
.prize__slider .prize__slide_3 .prize__slide-img-wrap::after {
  background-color: rgba(22, 165, 96, 0.39);
}
.prize__slide-img {
  height: 460px;
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  .prize__slide-img {
    height: 416px;
  }
}
.prize__slide-img-wrap {
  position: relative;
}
.prize__slide-img-item {
  height: 557px;
}
@media screen and (max-width: 480px) {
  .prize__slide-img-item {
    height: 455px;
  }
}
.prize__slide-descrip {
  float: right;
}
@media screen and (max-width: 1200px) {
  .prize__slide-descrip {
    width: 650px;
  }
}
@media screen and (max-width: 1100px) {
  .prize__slide-descrip {
    width: 600px;
  }
}
@media screen and (max-width: 1024px) {
  .prize__slide-descrip {
    width: 100% !important;
  }
}
@media screen and (max-width: 768px) {
  .prize__slide-descrip {
    padding: 30px 45px;
  }
}
@media screen and (max-width: 480px) {
  .prize__slide-descrip {
    padding: 25px 35px;
    font-size: 15px;
  }
}
@media screen and (max-width: 320px) {
  .prize__slide-descrip {
    padding: 20px;
  }
}
.prize__slide::after {
  content: "";
  display: block;
  clear: both;
}
.prize__dots {
  position: absolute;
  right: 0;
  top: 350px;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  z-index: 5;
}
.prize__dot {
  width: 30px;
  height: 3px;
  background-color: white;
  transition: 0.2s width;
}
.prize__dot:not(:last-child) {
  margin-bottom: 10px;
}
.prize__dot_active {
  width: 23px;
  background-color: #FAAF18;
}
.prize__fade {
  animation-name: fade;
  animation-duration: 2s;
}

.draw {
  padding: 50px 0 50px 0;
}
.draw__title {
  position: relative;
  margin: 30px 0 55px 0;
}
.draw__title::before {
  content: "";
  display: block;
  width: 398px;
  height: 398px;
  position: absolute;
  top: -123px;
  left: -175px;
  right: initial;
  border-radius: 50%;
  background-color: rgba(113, 37, 188, 0.5);
  background-image: initial;
  background-repeat: no-repeat;
  background-position: center;
  filter: 400px;
  z-index: initial;
  cursor: initial;
  overflow: hidden;
}
@media screen and (max-width: 320px) {
  .draw__title::before {
    content: "";
    display: block;
    width: 197px;
    height: 197px;
    position: absolute;
    top: -123px;
    left: -80px;
    right: initial;
    border-radius: 50%;
    background-color: rgba(113, 37, 188, 0.5);
    background-image: initial;
    background-repeat: no-repeat;
    background-position: center;
    filter: 200px;
    z-index: initial;
    cursor: initial;
    overflow: hidden;
  }
}
.draw__container {
  position: relative;
  display: flex;
  align-items: center;
}
.draw__container::before {
  content: "";
  display: block;
  width: 522px;
  height: 522px;
  position: absolute;
  top: 0;
  left: 80%;
  right: initial;
  border-radius: 50%;
  background-color: rgba(0, 197, 114, 0.4);
  background-image: initial;
  background-repeat: no-repeat;
  background-position: center;
  filter: 400px;
  z-index: initial;
  cursor: initial;
  overflow: hidden;
  display: none;
}
@media screen and (max-width: 1024px) {
  .draw__container::before {
    content: "";
    display: block;
    width: 385px;
    height: 385px;
    position: absolute;
    top: 0;
    left: 80%;
    right: initial;
    border-radius: 50%;
    background-color: rgba(0, 197, 114, 0.4);
    background-image: initial;
    background-repeat: no-repeat;
    background-position: center;
    filter: 400px;
    z-index: initial;
    cursor: initial;
    overflow: hidden;
  }
}
@media screen and (max-width: 1024px) {
  .draw__container::before {
    content: "";
    display: block;
    width: 385px;
    height: 385px;
    position: absolute;
    top: 0;
    left: 80%;
    right: initial;
    border-radius: 50%;
    background-color: rgba(0, 197, 114, 0.4);
    background-image: initial;
    background-repeat: no-repeat;
    background-position: center;
    filter: 400px;
    z-index: initial;
    cursor: initial;
    overflow: hidden;
  }
}
@media screen and (max-width: 700px) {
  .draw__container::before {
    content: "";
    display: block;
    width: 385px;
    height: 385px;
    position: absolute;
    top: 90%;
    left: 70%;
    right: initial;
    border-radius: 50%;
    background-color: rgba(0, 197, 114, 0.4);
    background-image: initial;
    background-repeat: no-repeat;
    background-position: center;
    filter: 400px;
    z-index: initial;
    cursor: initial;
    overflow: hidden;
  }
}
@media screen and (max-width: 480px) {
  .draw__container::before {
    content: "";
    display: block;
    width: 236px;
    height: 236px;
    position: absolute;
    top: 54%;
    left: 70%;
    right: initial;
    border-radius: 50%;
    background-color: rgba(0, 197, 114, 0.4);
    background-image: initial;
    background-repeat: no-repeat;
    background-position: center;
    filter: 350px;
    z-index: initial;
    cursor: initial;
    overflow: hidden;
  }
}
@media screen and (max-width: 700px) {
  .draw__container {
    flex-flow: column;
    align-items: normal;
  }
}
.draw__slider {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 130px;
  padding: 50px 0 50px 104px;
}
@media screen and (max-width: 1114px) {
  .draw__slider {
    margin-right: 40px;
    padding-left: 60px;
  }
}
@media screen and (max-width: 700px) {
  .draw__slider {
    margin: 0 0 50px 0;
  }
}
.draw__slider::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  width: 2px;
  height: 100%;
  background: #044654;
  border-radius: 100px;
}
.draw__slide:not(:last-child) {
  margin-bottom: 30px;
}
.draw__slide_active .draw__slide-number {
  animation: fade 0.2s;
  color: #FAAF18;
}
.draw__slide_active .draw__slide-number::before {
  animation: fade 0.2s;
  background-color: #FAAF18;
}
.draw__slide_active .draw__slide-comment {
  animation: fade 2s;
  display: block;
}
.draw__slide-number {
  position: relative;
  display: flex;
  align-items: center;
  width: 47px;
  height: 40px;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  font-family: "Roboto Bold";
  text-transform: none;
  line-height: 100%;
  color: #002138;
  cursor: pointer;
}
.draw__slide-number:hover {
  color: rgba(0, 171, 197, 0.5);
  transition: color 0.2s;
}
.draw__slide-number::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -104px;
  transform: translateY(-50%);
  width: 6px;
  height: 40px;
  background-color: transparent;
  border-radius: 100px;
}
@media screen and (max-width: 1114px) {
  .draw__slide-number::before {
    left: -60px;
  }
}
.draw__slide-comment {
  display: none;
  width: 420px;
  margin-top: 15px;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  font-family: "Roboto Regular";
  text-transform: none;
  line-height: 150%;
  color: #E4E4E4;
}
@media screen and (max-width: 1024px) {
  .draw__slide-comment {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .draw__slide-comment {
    width: 100%;
  }
}
@media screen and (max-width: 870px) {
  .draw__form :nth-child(n) {
    height: 65px;
  }
}
@media screen and (max-width: 1024px) {
  .draw__form {
    width: 360px;
  }
}
@media screen and (max-width: 870px) {
  .draw__form {
    width: 300px;
  }
}
@media screen and (max-width: 700px) {
  .draw__form {
    width: 100%;
  }
}

.present {
  padding: 50px 0 0 0;
}
@media screen and (max-width: 1024px) {
  .present {
    padding: 50px 0 70px 0;
  }
}
.present__conteiner {
  display: grid;
  grid-template-columns: 50% 50%;
}
@media screen and (max-width: 700px) {
  .present__conteiner {
    grid-template-columns: 100%;
  }
}
@media screen and (max-width: 700px) {
  .present__block2 {
    grid-area: 2/1/3/2;
  }
}
.present__block1 {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
@media screen and (max-width: 870px) {
  .present__form :nth-child(n) {
    height: 65px;
  }
}
@media screen and (max-width: 1024px) {
  .present__form {
    width: 360px;
  }
}
@media screen and (max-width: 870px) {
  .present__form {
    width: 300px;
  }
}
@media screen and (max-width: 700px) {
  .present__form {
    width: 100%;
  }
}
.present__form-wrap {
  position: relative;
  height: auto !important;
}
.present__form-mark {
  position: absolute;
  width: 310px;
  height: auto !important;
  top: 50%;
  left: 105%;
  transform: translateY(-50%);
  word-wrap: anywhere;
}
@media screen and (max-width: 870px) {
  .present__form-mark {
    font-size: 12px;
  }
}
@media screen and (max-width: 700px) {
  .present__form-mark {
    position: static;
    width: 200px;
    margin: 0 0 5px auto !important;
    font-size: 10px;
  }
}
.present__input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.present__input[type=number] {
  width: 100%;
  margin: 0 !important;
}
.present__present {
  width: 330px;
  height: 648px;
  margin-left: auto;
}
@media screen and (max-width: 870px) {
  .present__present {
    width: 278px;
    height: 548px;
  }
}
@media screen and (max-width: 700px) {
  .present__present {
    margin: 0 auto;
  }
}
.present__present-descr {
  position: relative;
  bottom: 152px;
  float: right;
}
@media screen and (max-width: 1024px) {
  .present__present-descr {
    position: static;
    width: 150%;
    float: none;
    grid-area: 2/2/3/3;
    justify-self: end;
  }
}
@media screen and (max-width: 700px) {
  .present__present-descr {
    grid-area: 3/1/4/2;
    width: 80%;
    padding: 30px 50px;
    justify-self: center;
  }
}
@media screen and (max-width: 480px) {
  .present__present-descr {
    width: 100%;
    padding: 20px 35px;
    font-size: 14px;
  }
}

.footer {
  padding: 60px 0;
  background-color: #0D202F;
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 37px 0;
  }
}
.footer__container {
  display: grid;
  grid-template-columns: auto auto auto;
}
@media screen and (max-width: 1024px) {
  .footer__container {
    grid-template-columns: auto auto;
    grid-row-gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .footer__container {
    grid-row-gap: 15px;
  }
}
.footer__logo1 {
  margin-right: 30px;
}
@media screen and (max-width: 1024px) {
  .footer__logo1 {
    margin-right: 21px;
  }
}
.footer__rules, .footer__social {
  display: flex;
  align-items: center;
}
.footer__rules {
  text-decoration: none;
}
@media screen and (max-width: 1024px) {
  .footer__rules {
    grid-area: 2/1/3/2;
  }
}
.footer__rules-item {
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  font-family: "Gilroy Regular";
  text-transform: none;
  line-height: 150%;
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .footer__rules-item {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  .footer__rules-item {
    font-size: 13px;
  }
}
@media screen and (max-width: 768px) {
  .footer__rules-item {
    font-size: 12px;
  }
}
.footer__rules-line {
  height: 1px;
  width: 100%;
  margin-top: 10px;
  background-color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .footer__rules-line {
    height: 0.5px;
    margin-top: 5px;
  }
}
.footer__social {
  justify-content: flex-end;
}
@media screen and (max-width: 1024px) {
  .footer__social {
    grid-area: 1/2/3/3;
  }
}

.thanks-modal {
  display: none;
}
.thanks-modal__title {
  margin-bottom: 25px;
}
.thanks-modal__message {
  font-weight: normal;
  font-style: normal;
  font-size: 17px;
  font-family: "Roboto Regular";
  text-transform: none;
  line-height: 150%;
  color: #FFFFFF;
}
.thanks-modal__message > p:first-child {
  margin-top: 20px;
}

.test::before {
  display: block;
  content: "*";
  width: 60px;
  height: 60px;
  color: brown;
}

.person-modal__container {
  width: 860px;
  padding: 70px 110px;
}
.person-modal__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.person-modal__mark {
  position: relative;
}
.person-modal__mark::before {
  content: "*";
  position: absolute;
  top: -3px;
  left: -10px;
  color: #FAAF18;
}
.person-modal__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "city street" "house office" "name phone" "btn btn";
  gap: 20px;
}
.person-modal__input-wrap {
  position: relative;
}
.person-modal__input-wrap::before {
  content: "*";
  position: absolute;
  top: calc((45px - 19px) / 2 - 3px);
  text-indent: 50px;
  color: #FAAF18;
}
.person-modal__input-wrap:nth-child(1) {
  grid-area: city;
}
.person-modal__input-wrap:nth-child(2) {
  grid-area: house;
}
.person-modal__input-wrap:nth-child(3) {
  grid-area: name;
}
.person-modal__input-wrap:nth-child(4) {
  grid-area: street;
}
.person-modal__input-wrap:nth-child(5) {
  grid-area: office;
}
.person-modal__input-wrap:nth-child(6) {
  grid-area: phone;
}
.person-modal__input {
  width: 100%;
  height: 45px;
  font-size: 19px;
  text-indent: 60px;
}
.person-modal__input::placeholder {
  font-size: 10px;
}
.person-modal__btn {
  grid-area: btn;
}

body {
  font-family: "Roboto Bold";
  background-color: #001424;
}

::-moz-placeholder {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
